<!--
Copyright (c) 2023 Samsung Electronics Co., Ltd.

Author(s):
Vasileios Vasilopoulos (vasileios.v@samsung.com; vasilis.vasilop@gmail.com)

Licensed under the Creative Commons Attribution-NonCommercial 4.0 International (CC BY-NC 4.0) License, (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at https://creativecommons.org/licenses/by-nc/4.0/
Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and limitations under the License.
For conditions of distribution and use, see the accompanying LICENSE file.
-->

<launch>
  <node name="hio_sdf" pkg="hio_sdf" type="hio_sdf_node" output="screen">
    <rosparam file="$(find hio_sdf)/cfg/hio_sdf_params.yaml"/>
  </node>

  <node name="rviz_visualisation" pkg="rviz" type="rviz" output="log" args="-d $(find hio_sdf)/rviz/hio_sdf.rviz" />
</launch>
